body {
  font-family: -apple-system, helvetica;
  font-size: 16px;
}

.bold {
  font-weight: 500;
}

.app {
  max-width: 300px;
  margin: 0 auto;
}

.headers * {
  font-weight: 500;
}

#games_table {
}

.list-game {
  background-color: #000;
  color: #fff;
  border-bottom: 2px solid #fff;
  padding: 10px;
}

.detail {
  padding: 10px;
  background: #000;
  color: #fff;
}

.back {
  padding-bottom: 10px;
  color: #FFF;
  text-align: center;
}

.back a {
  color: #FFF;
}

h2 {
  font-size: 1em;
  font-weight: 300;
  margin: 0;
}

.row {
  margin: 2px;
  display: flex;
  justify-content: space-between;
}

.team {
  width: 50px;
}

.score {
  text-align: center;
  width: 10px;
}

.other_data {
  text-align: center;
  width: 20px;
}

/* Player data */

.team_switch {
  padding: 20px 0;
}

.team_switch > h2 {
  cursor: pointer;
}

.playerDataRow {
  display: flex;
}

.playerData {
  display: flex;
  width: calc(100% - 100px);
}

.playerData p {
  width: 25px;
  text-align: center;
  margin: 0;
}

.playerData p.avg {
  text-align: right;
  width: 35px;
}

.playerName {
  white-space: nowrap;
  overflow: hidden;
  width: 95px;
  margin-right: 5px;
  text-overflow: ellipsis;
}
